:root {
    --redLight: #dd352e;
    --redDark: #b12720;
}

body {
    background: #fbfbfb;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    line-height: 1;
    background: var(--redDark);
    padding: 0.5em;
    color: white;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
}

.heading {
    font-size: .8em;
    opacity: 0.6;
    display: block;
    padding: 1em 1em .3em 1em;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .3em 1em;
    min-width: 20em;
    max-width: 40em;
}

a:hover {
    background: rgb(211, 227, 255);
}

a.default {
    font-size: .9em;
    opacity: .9;
}